---
import "@fontsource/roboto-condensed"
import "@fontsource/play/latin-400.css"
import "@fontsource/play/latin-700.css"
import "../css/00_base/index.scss"

import CFBeacon from '../js/components/atom/CFBeacon'
import CookieDisclaimer from '../js/components/organism/CookieDisclaimer'
import { TITLES, PATHS, SITE_DESCRIPTION, SITE_KEYWORDS, MENU_ENTRIES } from '../js/config'
import { buildTitle } from '../js/meta'
import { matchesRoute } from '../js/router/match'
import {
  VerticalThirdsFooter,
  VerticalThirdsHeader,
  VerticalThirdsMain,
  VerticalThirdsNav,
  VerticalThirdsWrapper,
} from '../js/components/template/VerticalThirds'
import SiteMenu from '../js/components/organism/SiteMenu'
import SiteNavigation from '../js/components/molecule/SiteNavigation'
import SiteFooter from '../js/components/organism/SiteFooter'
import SiteTitle from '../js/components/molecule/SiteTitle'

export type Props = {
  title?: string
  fullWidth?: boolean
}

const title = buildTitle(Astro.props.title)
const fullWidth = Astro.props.fullWidth ?? false

const isHome = matchesRoute(PATHS.HOME, Astro.url.pathname)
const isPhotos = matchesRoute(PATHS.PHOTOS, Astro.url.pathname)

const menuEntries = MENU_ENTRIES.map(entry => {
  return {
    ...entry,
    active: matchesRoute(entry.path, Astro.url.pathname)
  }
})
---
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />

    <link rel="icon" sizes="196x196" href="/icon.png" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-iphone-6-plus.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-ipad-retina.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-ipad-pro.png" />

    <meta name="theme-color" content="#224B85" />

    <title>{title}</title>

    <meta name="author" content="Luis Nabais" />

    <meta property="og:site_name" content={TITLES.SITE} />

    <meta
      name="description"
      content={SITE_DESCRIPTION}
    />

    <meta
      name="keywords"
      content={SITE_KEYWORDS.join(', ')}
    />

    <slot name="head" />

    <script>
      import initSentry from '../js/sentry'
      initSentry()
    </script>

    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <VerticalThirdsWrapper
      open={!isHome}
      limited={!isPhotos}
    >
      <VerticalThirdsHeader>
        <SiteTitle className="" />
      </VerticalThirdsHeader>

      <VerticalThirdsNav>
        <SiteNavigation className="">
          <SiteMenu entries={menuEntries} />
        </SiteNavigation>
      </VerticalThirdsNav>

      <VerticalThirdsMain fullWidth={fullWidth}>
        <slot />
      </VerticalThirdsMain>

      <VerticalThirdsFooter>
        <SiteFooter />
      </VerticalThirdsFooter>
    </VerticalThirdsWrapper>

    <CookieDisclaimer
      client:idle
      link={PATHS.COOKIE_POLICY}
      linkProps={{ title: "View cookie policy" }}
    />

    <CFBeacon token={import.meta.env.PUBLIC_CF_TOKEN} />
  </body>
</html>
